* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrapper {
    display: flex;
}

.navbar-container {
    background-color: rgb(230, 151, 98);
    height: 100vh;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 4px;
}

.navbar-img {
    width: 120px;
}

.navbar-link {
    background-color: rgba(247, 230, 174, 1);
    margin: 10px 0px;
    padding: 10px 0px;
    width: 100%;    
    border-bottom: 2px solid rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    font-size: 2em;
    outline: none;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .7) 2px 2px 3px 1px;
}

.navbar-link:focus {
    border: none;
    outline: 3px solid rgba(54, 27, 18, 1);
}

.right-container {
    /* background-color: pink; */
    width: calc(100% - 250px);
    height: 100vh;
}

.seat-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 60px 20px;
}