/*RWD*/

@media only screen and (max-width: 1000px) {
  .recommend {
    margin-bottom: 300px;
  }

  .carousel {
    top: 0;
    width: 50%;
    height: 400px;
  }

  #navbarScroll {
    height: 400px;
  }

  #privacy {
    visibility: hidden;
  }
  #infoTitle{
    outline: 1px solid black;
    margin-bottom: 100px;
  }


}

@media only screen and (max-width: 1250px) {

  #connect {
    visibility: hidden;
  }

  .footer {
    margin-bottom: auto;
  }

  .full-screen-image {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .ad {
    min-width: 100%;
  }

  .containerCARD {
    /* outline: 1px solid black; */
    min-width: 100%;
  }

  .cardEffect {
    left: 100px;
    min-width: 700px;
    min-height: 300px;
    /* outline: 1px solid blue; */
    margin-bottom: 200px;


  }

  .card-img {
    max-width: 100%;


  }



}



@media only screen and (max-width: 1400px) {
  .infoContent {
    display: none;
  }

  .infoImg {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .infoButton {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}




/*輪播設定*/

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

/* 調整箭頭大小 */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
}



/*進場特效*/
.background123 {
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}

.full-screen-image {
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  animation: zoomOut 3s ease forwards;
  opacity: 0;

}

@keyframes zoomOut {
  0% {
    transform: scale(0.1);
    /* 初始尺寸 */
    opacity: 1;
  }

  50% {
    transform: scale(0.1);
    /* 停留在最小尺寸 */
    opacity: 1;
  }

  100% {
    transform: scale(0.7);
    /* 最终尺寸 */
    opacity: 0;
  }
}




/*圖片浮動效果*/

.card-img {
  border-radius: 20px;
  width: 120%;
  height: 120%;
  position: absolute;

  object-fit: cover;
}

.containerCARD {
  justify-content: center;
  perspective: 1000px;
}

.cardEffect {

  margin-bottom: 40px;
  position: relative;
  border-radius: 30px;
  width: 400px;
  height: 250px;
  transition: all .15s ease;
  transform: translateZ(0) scale(1);
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
}

.cardEffect:hover {
  transform: translateZ(40px) scale(1.1);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}







body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(../image/背景/backgroundY.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
}

ul {
  height: 100px;
  width: 1000px;
}

li {
  width: 150px;
}

.img2 {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;

}

.nav-link {
  font-size: 20px;
}

.nav-item {
  align-self: center;
  /* outline: 1px solid black; */
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url(../image/背景/backgroundY.jpg);
  background-repeat: repeat-x;
  z-index: 100;
}

.card {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.card-footer {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.card-title {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}

.card-text {
  margin-top: 30px;
  font-size: 17px;
}

.formContainer {
  width: 90%;
  background-image: url(../image/ai圖片/餐廳外觀2.jpg);
  opacity: 0.8;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  height: 800px;
  padding: 50px;
}

#myForm {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  width: 70%;
  padding: 50px;
}

.form-floating {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-weight: 1000;
}


.footer {
  background-image: url(../image/背景/footer1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 600px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
  font-size: 21px;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

.dropdown-item:hover {
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0);
}


.popup {
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 70%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


body,
h3,
p {
  font-family: "微軟正黑體", sans-serif;
}

.form-group {
  margin-bottom: 15px;
  /* 為每個表單元素增加間距 */
}

.form-control {
  border-radius: 0;
}

.btn-primary,
.btn-success {
  border-radius: 0;
}

h3 {
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #007bff;
}

.btn-success {
  background-color: #28a745;
}

.custom-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-container {
  position: relative;
  top: 150px;
}

.overlay {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
}

.aLine:hover {
  background-color: #01c301 !important;
}

.showPwd {
  display: flex;
  align-items: center;
}

.showPwd img {
  width: 22px;
  cursor: pointer;
}