/* 返回鍵及桌號開始 */
.cart-width {
    width: 350px;
}

.goback-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    width: 100%;
    font-size: 1.5em;
    background-color: rgba(247, 230, 174, 1);
}

.goback-content > div {
    font-weight: 600;
}

#table-number {
    margin-left: 5px;
}

.goback-content > a {
    text-decoration: none;
    color: black;
}

.bi-arrow-left-short {
    font-size: 2em;
}

/* 返回鍵及桌號結束 */

/* =====================購物車開始===================== */

.cart-content {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
}

.cart-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    padding: 5px;
    border-bottom: 1px solid black;
}

.cart-list {
    /* background-color: pink; */
    margin-top: 5px;
    height: 65vh;
    overflow: auto;
    padding-right: 5px;
}

/* 自定義scrollbar開始 */
.cart-list::-webkit-scrollbar {
    width: 10px;
}
  

.cart-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


.cart-list::-webkit-scrollbar-thumb {
    background: rgba(247, 230, 174, 1);
    border-radius: 10px;
}

.cart-list::-webkit-scrollbar-thumb:hover {
    background: rgba(230, 151, 98, 1);
}

.cart-list::-webkit-scrollbar-button {
    background: none;
}

/* 自定義scrollbar結束 */


#cart-btn-content {
    margin-top: auto;
    margin-bottom: 20px;
}

.cart-btn-group {
    display: flex;
    gap: 10px;
}

.cart-btn {
    background-color: rgba(54, 27, 18, 1);
    color: #fff;
    font-size: 1em;
    width: 50%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
}

.cart-quantity {
    margin-inline: 5px;
}

.no-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0px 15px 0px 0px;
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.cart-item-img {
    height: 100%;
    object-fit: cover;
}

.cart-info  {
    margin-left: 3px;
    margin-right: auto;
}

.cart-info-title {
    font-size: 14px;
    margin-bottom: 5px;
}

.price {
    display: flex;
}

.price > p {
    margin: 0;
}

.bi-trash {
    font-size: 24px;
    color: red;
}

/* =======================購物車結束======================= */

/*  ======================品項區開始====================== */
.tab {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(247, 230, 174, 1); 
    padding-left: 20px;
    height: 75px;
    background-color: rgba(48, 48, 48, 1);
}

.tablinks {
    outline: none;
    border: none;
    font-size: 2em;
    /* width: 200px; */
    padding: 10px 15px;
    text-align: center;
    background-color: transparent;
    border-bottom: 5px solid transparent;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}

.tablinks:hover, .tablinks:focus {
    border-bottom: 5px solid rgba(247, 230, 174, 1);
    color: rgba(247, 230, 174, 1);
}
/* 品項種類導覽列結束 */

.tabcontent {
    width: 100%;
    background-color: rgba(48, 48, 48, 1);
    height: calc(100% - 75px);
    overflow-y: scroll;
    padding: 0px 100px 150px 10px;
}


/* scrollbar自定義 */
.tabcontent::-webkit-scrollbar {
    width: 10px;
}
  

.tabcontent::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


.tabcontent::-webkit-scrollbar-thumb {
    background: rgba(247, 230, 174, 1);
    border-radius: 10px;
}

.tabcontent::-webkit-scrollbar-thumb:hover {
    background: rgba(230, 151, 98, 1);
}

.tabcontent::-webkit-scrollbar-button {
    background: none;
}
/* scrollbar自定義 */

/* ====================商品品項==================== */
.row {
    margin: 0 !important;
}

.item {
    margin-top: 20px;
}

.mycard {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #fff;
    height: 100px;
}

.menu-img {
    object-fit: cover;
}

.mycard-body {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    padding-right: 10px;
}

.body-info {
    flex: 55%;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.25em;
    margin-left: 10px;
}

.card-text {
    margin-left: 10px;
    font-size: 16px;
}

.card-btn-group {
    font-size: 1.5em;
    display: flex;
    height: auto;
    border: 1px solid black;
}

.item-count {
    text-align: center;
    width: 40px;
    user-select: none;
}

.bi-dash, .bi-plus {
    background-color: black;
    color: #fff;
    aspect-ratio: 1 / 1;
    width: 40px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========================訂單頁面開始======================== */
.form-layout {
    position: relative;
    overflow: hidden;
}

.order-page {
    position: absolute;
    background-color: #fff;
    width: 300px;
    height: calc(100vh - 76px);
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(0, 0, 0, .7);
    padding: 5px;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
}

.bi-x-lg {
    font-size: 1.75em;
    position: absolute;
    top: 3px;
    left: 3px;
    cursor: pointer;
}

.bi-x-lg:active {
    transform: scale(0.9);
    color: rgba(0, 0, 0, .7);
}

.order-title {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: 600; 
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.order-list {
    height: 65vh;
    margin-top: 10px;
    overflow: auto;
}

/* scrollbar自定義 */
.order-list::-webkit-scrollbar {
    width: 10px;
}
  

.order-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


.order-list::-webkit-scrollbar-thumb {
    background: rgba(247, 230, 174, 1);
    border-radius: 10px;
}

.order-list::-webkit-scrollbar-thumb:hover {
    background: rgba(230, 151, 98, 1);
}

.order-list::-webkit-scrollbar-button {
    background: none;
}
/* scrollbar自定義 */

/* 前往結帳區開始 */
#order-to-pay-content {
    /* background-color: pink; */
    margin-top: auto;
    margin-bottom: 10px;
}

#order-to-pay {
    border: none;
    outline: none;
    background-color: rgba(247, 230, 174, 1);
    font-size: 1.5em;
    font-weight: 600;
    padding: 5px 20px;
    width: calc(100% - 40px);
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.bi-arrow-right-short {
    font-size: 1.5em;
    margin-left: auto;
}

/* 前往結帳區結束 */
.order-item {
    background-color: #fff;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.order-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.order-info-title {
    margin-bottom: 5px;
}

.order-info-price {
    font-weight: 600;
}

.order-info-quantity {
    margin-left: auto;
    margin-right: 10px;
    background-color: rgba(247, 230, 174, 1);
    aspect-ratio: 1 / 1;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vw;
}

.order-item > .bi-trash:hover {
    color: red;
}

#open-order-btn {
    margin-left: auto;
    margin-right: 20px;
    outline: none;
    border: none;
    border: 1px solid rgba(247, 230, 174, 1);
    color: rgba(247, 230, 174, 1);
    background-color: transparent;
    /* background-color: rgba(247, 230, 174, 1); */
    font-size: 1.25em;
    font-weight: 600;
    padding: 15px;
    height: min-content;
    border-radius: 10px;
}

#open-order-btn:active,
#open-order-btn:hover {
    background-color: rgba(247, 230, 174, 1);
    color: black;
}